
/* STATS */

.statsContainer {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 48px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.levelContainer {
    display: flex;
    width: 100%;
    height: 48px;
    flex-direction: row;
    align-items: center;
}

.level {
    width: 50px;
    height: 20px;
    background-color: white;
    color: #171e2a;
    font-size: 11px;
    font-weight: bold;
    border-radius: 20px;
    line-height: 15px;
    text-align: center;
    cursor: default;
    margin: 0px 12px;
}

.level span {
    line-height: 20px;
}

.balanceContainer {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.sparkContainer, .emberContainer {
    display: flex;
    align-items: center;
    margin-right: 8px;
    padding: 4px;
    cursor: default;
    border-radius: 4px;
    background-color: rgba(31, 186, 237, .2);
    height: 28px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
}

.sparkContainer img,
.emberContainerimg {
    width: 1.4em;
    height: 1.4em;
    margin-right: 0.25em;
}


.emberContainer button {
    width: 1em;
    height: 1em;
    font-size: 1em;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-left: 4px;
    height: 28px;
    width: 28px;
    border-radius: 4px;
    background-color: #dd208a;
    border: 0;
}

.emberContainer span {
    color: #fff;
}
