.parentContainer {
    height: 60px;
    width: 100%;
    font-size: 18px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: top;
}

.order1 { order: 1 }
.order2 { order: 2 }
.order3 { order: 3 }
.order4 { order: 4 }
.order5 { order: 5 }

.flexGrow132 { flex-basis: 32px; flex-grow: 1;}
.flexGrow232 { flex-basis: 32px; flex-grow: 2;}
.flexGrow332 { flex-basis: 32px; flex-grow: 3;}
.flexGrow432 { flex-basis: 32px; flex-grow: 4;}
.flexGrow532 { flex-basis: 32px; flex-grow: 5;}
.flexGrow632 { flex-basis: 32px; flex-grow: 6;}
.flexGrow732 { flex-basis: 32px; flex-grow: 7;}
.flexGrow832 { flex-basis: 32px; flex-grow: 8;}
.flexGrow932 { flex-basis: 32px; flex-grow: 9;}
.flexGrow1032 { flex-basis: 32px; flex-grow: 10;}

.childContainer {
    display: flex;
    flex-direction: column;
}
