/* flex-direction
display
flex-wrap
justify-content
align-items
order
flex-basis
border */

.redeemableContainer {
    display: block;
    top: 0;
    position: relative;
    width: 354px!important;
    height: calc(346px * 1.2);

    overflow: hidden;
    box-sizing: content-box;

    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 10px 10px 0 0;

    font-family: 'Dosis', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(255,255,255,0.6);
    background: #212C3E;
}


/* MENU_BAR  */


.menubar {
    position: relative;
    top: 0;
    display: flex;
    justify-content: left;
    align-items: center;
}

.menubar > p {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.menubar button {
    background: none;
    border: none;
    box-shadow: none;
    padding-bottom: 7px;
    margin: 0 7px;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(255, 255, 255, 0.6);
    font-size: .9rem;

    height: 100%;
    padding: 8px;
}

.menubar button:active,
.menubar button:focus,
.menubar button:hover  {
    outline: none;
    border-bottom: 2px solid #1fbaed;
    box-shadow: none;
}

.menubar > button {
    width: 32px;
    height: 100%;
    padding: 8px;
}

.menubar p span {
    display: flex;
    flex-direction: row;
    border-left: 3px groove transparent;
    border-right: 3px groove transparent;
}

.menubar p span:active {
    border-left: 3px groove rgba(86, 179, 241, 0.4);
    border-right: 3px groove rgba(86, 179, 241, 0.4);
}

.menubar > button:hover {
    width: 32px;
    height: 32px;
    background-color: rgba(31, 186, 237, .4);
    border-radius: 50%;
}

.menubar > button:first-child::before {
    content: '<';
}

.menubar > button:last-child::after {
    content: '>';
}

.menubar > p  button {
    border-bottom: 2px solid #1fbaed;
}

.menubar button:hover {
    color: #fff
}


/* CAPTION  */
.caption {
    display: flex;
    justify-content: center;
    font-size: .9rem;
    padding: 14px 21px 7px;
}


/* REDEEMABLES LIST + LIST SCROLL */

.scroll {
    position: relative;
    top: 0;
    width: 100%;
    height: calc(100% - 100px);
    overflow-y: auto;
}

.scroll::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
    -webkit-border-radius: 3em;
    border-radius: 3em;
}

.scroll::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.scroll::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

.scroll::-webkit-scrollbar {
    width: 6px;
}

.captionRedeemable {
    display: flex;
    justify-content: center;
    font-size: .9rem;
    padding: 10px 0;
}



ul {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    box-sizing: border-box;

    flex-wrap: wrap;
}


a { 
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;

    color: rgba(255,255,255,0.6);
    font-size: .8rem;
}    

a:hover {
    background-color: rgba(31, 186, 237, .2);
    border-radius: 7px;
}

a:active {
    border: 3px ridge rgba(86, 179, 241, 0.7);
}


li {
    list-style: none;
    width: calc(364px / 4);
    margin: 9px;
}

li > a > img {
    margin-bottom: 7px;
    height: 60px;
    width: 60px;
}


li > a > div > img {
    width: 16px;
    height: 16px;
    padding: 4px;
}

li > a > div {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    width: 81px;
    height: 29px;
    border: 1px solid rgba(255,255,255,0.2);
    margin: 0 7.5px;
    border-radius: 16px;
}

