
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.container {
    position: absolute;
    top: 60px;
    left: 0;

    min-height: 570px;
    height: 100%;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
}

.positionContainers {
    position: relative;
    left: 0;
    bottom: 0;
    width: 74vw;
    min-height: 570px;
    height: 100%;
}


.redeemableContainer {
    position: absolute;
    left: calc(76vw - 404px);
    bottom: 0;
    min-height: 454px;
    height: 454px;
    width: 354px;
    z-index: 10;
}

.videoFooterContainer {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
}
