.container {
    position: absolute;
    top: 60px;
    left: 0;
    width: 76vw;
    font-family: 'Dosis', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.videoPlayerContainer {
    position: relative;
    top: 0;
    left: 0;
}

.redeemableContainer {
    position: absolute;
    bottom: 0;
    right: 24px;
    backdrop-filter: blur(10px);
    background: #212C3E;
}

.videoFooterContainer {
    position: absolute;
    bottom: -60px;
    width: 100%;
}

.emberContainer {
    position: absolute;
    top: 0px;
    left: calc(76vw - calc(100vw - 76vw));
    display: flex;
    justify-content: center;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}