.dialog {
    display: flex;
    flex-direction: column;
    position: fixed;
    
    width: 800px;
    height: 85vh;
    max-height: 775px;
    min-height: 600px;

    text-align: center;
    border-radius: 10px;
    background-color: #212c3d;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.3);
    z-index: 54;
}


.emberContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    max-height: 525px;
    flex: 1;
}


.contentContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    min-height: 0;

}


.emberContainer h1 {
    padding-top: 48px;
    padding-bottom: 12px;
    font-size: 24px;
    text-align: center;
    color: #fff;
    letter-spacing: 3.33px;
    font-weight: 500;
    line-height: 29px;
    text-transform: uppercase;
}


.emberContainer  p {
    height: 37px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding: 0 120px 6px;
}


.emberContainer button {
    flex: 1 0 22%;
    padding: 0;
    margin: 0;
    background: transparent;
    border: none;
    font-family: "Industrywf",sans-serif;
    color: #fff;
}
 
.tile {
    position: relative;
    /* display: flex;
    flex-direction: column; */

    height: 244px;
    width: 162px;
    border-radius: 10px;
    background-color: #29374a;

    margin: 8px;
    font-family: "Industrywf", sans-serif;
    font-size: 24px;
    align-items: center;
    cursor: pointer;
}


.offerTitle {
    color: rgba(255, 255, 255, 0.6);
    line-height: 16px;
    font-weight: bold;
    font-size: 13px;
    padding: 12px 0 8px;
    text-transform: uppercase;
}

.amount {
    color: #dd208a;
    line-height: 29px;
    font-style: italic;
    font-weight: 900;
}

.offerImage {
    padding-top: 12px;
    position: relative;
    display: flex;
    justify-content: center
}

.promotion {
    top: 0;
    position: absolute;
    color: white;
    font-style: italic;
    font-weight: 900;
    line-height: 16px;
    font-size: 13px;
    background: linear-gradient(135deg, #e30ad5 0%, #f62653 100%);
    border-radius: 10px;
    padding: 3px 7px;
}

.amount img {
    height: 90px;
}

.cost {
    line-height: 29px;
    color: #fff;
    padding-top: 16px;
}


.footer {
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.balance {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    display: flex;
}

.balance img {
    margin: 1px 4px 0 8px;
    height: 18px;
}

.balance span {
    color: #fff;
}

.icon-Close::before {
    content: "X";
}

.set-mixer {
    content: "\EA11";
}

.closeBtn {
    position: absolute;
    top: 24px;
    right: 23px;
    height: 1em;
    width: 1em;
    font-family: 'Mixer Icons';
    color: rgba(255, 255, 255, 0.6);
    font-size: 18px;
    cursor: pointer;
}



::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
    -webkit-border-radius: 3em;
    border-radius: 3em;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

::-webkit-scrollbar {
    width: 6px;
}